@import "../../scss/mixins";
@import "../../scss/variable";
.job{
    overflow: hidden;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        width: 140%;
        height: 140%;
        background-image: red;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        opacity: 0.9;
        top: -20%;
        left: -20%;
    }
    &__content{
        @include Responsive(LG){
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }
    &__item{
        color: #fff;
        text-align: center;
        position: relative;
        height: 350px;
        width: 100%;
        float: left;
        @include Responsive(LG){
            height: auto;
            padding: 20px 0;
        }
        strong{
            display: block;
            font-size: 36px;
            font-weight: 600px;
            margin: 120px 0 10px;
            letter-spacing: 0.5px;
            transition: all 0.3s;
            @include Responsive(LG){
                margin-top: 0;
            }
        }
        &:hover strong{
            margin-top: 105px;
            @include Responsive(LG){
                margin-top: 0;
            }
        }
        p{
            font-size: 17px;
            font-weight: 500px;
            letter-spacing: 0.5px;
        }
        &::after{
            content: " ";
            position: absolute;
            background-image: url(https://templatemo.com/templates/templatemo_535_softy_pinko/assets/images/circle-dec.png);
            background-repeat: no-repeat;
            background-position: center center;
            width: 70%;
            height: 32px;
            top: 45%;
            left: 70%;
            @include Responsive(LG){
                display: none;
            }
        }
    }
    & .col-lg-3:last-child &__item::after{
        display: none;
    }
}